.main {
  flex-direction: column;
  gap: 32px;
}

form {
  max-width: 100%;
}

fieldset {
  max-width: 100%;
  border: none;

  legend {
    margin-bottom: 32px;

    font-size: 32px;
    font-weight: 600;
    font-family:
      'Inria sans',
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Open Sans',
      'Helvetica Neue',
      sans-serif;
  }
}

.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 4px;
  max-width: 100%;
}

.option {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  border: solid white 2px;
  background-color: white;
  cursor: pointer;

  input[type='radio'] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  &:has(input[type='radio']:checked) {
    border-color: #2f971c;
  }

  .option-image {
    width: 100%;
    flex-basis: 260px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  .option-label {
    padding: 1rem;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    font-family: 'Inria Sans', sans-serif;
    cursor: pointer;
  }
}

.next-question-link {
  display: inline-block;
  padding: 16px 44px;
  background-color: #2f971c;
  text-align: center;

  color: white;
  font-size: 32px;
  font-weight: 600;
  font-family:
    'Inria sans',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}
